[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/scala"]
	path = vim/bundle/scala
	url = https://github.com/derekwyatt/vim-scala
